{
  "extends": [
    "adenvt"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "array-bracket-newline": ["error", "consistent"],
    "array-element-newline": ["error", "consistent"],
  }
}
